<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023389496197-6hrvs56dbqj0l57vm6srbvqsleo68u36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023389496197-6hrvs56dbqj0l57vm6srbvqsleo68u36</string>
	<key>API_KEY</key>
	<string>AIzaSyA2aq-lqV4z5JdTrqDmacfqdcjmGebeicQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1023389496197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tccEnf</string>
	<key>PROJECT_ID</key>
	<string>enfermagem-adivinhe</string>
	<key>STORAGE_BUCKET</key>
	<string>enfermagem-adivinhe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023389496197:ios:b1ba87950e7ce0e2034aec</string>
</dict>
</plist>